/* import de la typo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

/* ------------------------------
            RESET
 ---------------------------------*/
*{
    margin: 0; /* pas de marges par défaut */
    padding: 0; /* pas de padding par défaut */
    box-sizing: border-box;  /* Ne change pas la taille de la boite si j'ajoute des paddings ou des broder. je garde le controle de ma boite.*/
}

/* ------------------------------
            TEXTES
 ---------------------------------*/

.decoration-none {
    text-decoration: none; /* retirer la ligne sous le texte */
}

.list-type-none{
    list-style-type: none; /*retirer la puces des listes */
}

.bold{
    font-weight: 800; /* mettre en gras */
}

.text-center{
    text-align: center; /* centrer le texte */
}

.uppercase{
    text-transform: uppercase; /* mettre en majuscule */
}


/* ------------------------------
            LARGEURS
 ---------------------------------*/

.w100{
    width: 100%;
}

.w75 {
    width: 75%;
}

.w50 {
    width: 50%;
}

.w48{
    width: 48%;
}

.w30 {
    width: 30%;
}

.w25 {
    width: 25%;
}

.w20{
    width: 20%;
}

.w10{
    width: 10%;
}
/* ------------------------------
            FLEXBOX
 ---------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: start;
}
.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.justify-start{
    justify-content: start;
}
.columm{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 16px;
    padding-top: 16%;
}
.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

/* ------------------------------
         MARGIN & PADDING 
 ---------------------------------*/

 /* Margin */

.mt-16 {
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}

.m-32{
    margin: 32px;
}
/* padding */


.pb-16{
    padding-bottom: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pb-32{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-128{
    padding-top: 128px;
}

.pb-128{
    padding-bottom: 128px;
}

.p-32{
    padding: 32px;
}

.pLR-32{
    padding-left: 32px;
    padding-right: 32px;
}

/* ------------------------------
            CONTAINER
 ---------------------------------*/

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-1480{
    max-width: 1480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------------
            BOUTONS
 ---------------------------------*/

 .btn1{
    background-color: #3E2C23 ;
    color: #C8A27A;
    border-radius: 10px;
    padding: 10px 10px;
    margin: auto 5px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
 }

 .btn2{
    background-color: #C8A27A ;
    color: #3E2C23;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 16px 8px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
 } 

 /* ------------------------------
            TEXTES
 ---------------------------------*/

 h1{
    font-family: "Pacifico", cursive;
    font-weight: 200px;
    font-size: 64px;
    color: #3E2C23;
    margin-top: 32px;
 }

 h2{
    font-family: "Pacifico", cursive;
    font-weight: 200px;
    font-size: 48px;
    color: #3E2C23;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 32px;
 }

 h3{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #3E2C23;
    padding-bottom: 16px;
    padding-top: 16px;
    font-weight: 400;
 }

 h4{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #3E2C23;
    padding-bottom: 12px;
    padding-top: 12px;
 }

 p{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #776861;
    padding-bottom: 10px;
 }

 a{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #3E2C23;
    padding-bottom: 10px;
    text-decoration: none;
 }

 li{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
 }

input{
    background-color: #776861;
  color: #EDDAC7;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 8px 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.size-64{
    font-size: 64px;
}

i{
    font-size: 48px;
    text-decoration: none;
}
  /* ------------------------------
            LOGO
 ---------------------------------*/

 .logo{
    width: 256px;
 }
 
 /* ------------------------------
            BACKGROUND
 ---------------------------------*/
 .bg{
    background-color: #EDDAC7;
 }
.bg2{
    background-color: #C8A27A;
}

 .block{
    display: block;
 }



 /* ------------------------------
            IMAGE
 ---------------------------------*/

 .img-service{
    width: 100%;
    height: 300px;
    object-fit: cover; 
    object-position: center;
 } 
 .img-service2{
    width: 100%;
    height: 450px;
    object-fit: cover; 
    object-position: 0 ;
    padding-top: 32px;
    padding-bottom: 32px;
 } 
 .img-service3{
    width: 100%;
    height: 750px;
    object-fit: cover; 
    object-position: 0 ;
    padding-top: 32px;
    padding-bottom: 32px;
 }
 
 .img-service4{
    width: 90%;
    height: 600px;
    object-fit: cover; 
    object-position: 0 ;
    padding-top: 64px;
    padding-bottom: 64px;
 }

.img-service5{
    width: 100%;
    height: 400px;
    object-fit: cover; 
    object-position: 0 ;
    display: block;
 } 

  /* ------------------------------
            POSITION
 ---------------------------------*/

 .fixed{
    position: fixed;
 }

 .sticky{
    position: sticky;
 }


